/* Estilo básico para el componente de menú */
nav {
  background-color: #333; /* Color de fondo del menú */
}

ul {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el espacio interno en la lista */
  margin: 0; /* Elimina el margen externo en la lista */
  display: flex; /* Muestra los elementos de la lista en línea */
}

li {
  margin-right: 15px; /* Espaciado entre elementos del menú */
}

Link {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: white; /* Color del texto del enlace */
  font-weight: bold; /* Texto en negrita */
  font-size: 16px; /* Tamaño del texto */
  padding: 10px; /* Espaciado interno alrededor del enlace */
  transition: color 0.3s ease; /* Transición suave en el cambio de color */
}

Link:hover {
  color: #ffcc00; /* Color del texto del enlace al pasar el mouse */
}

.link-wrapper {
  display: inline-block;
  padding: 10px; /* Ajusta el relleno según tus preferencias */
  /* Otros estilos según sea necesario */
}
